html {
    background-color: silver;
}

table {
    /*border: 3px darkslateblue solid;*/
    border-collapse: collapse;
}

#enterTheWord {
    background-color: silver;
}

.caption, h3 {
    background-color: plum;
    font-family: "Segoe Script";
    font-size: 20px;
}

tr, td {
    text-align: center;
    font-family: "Segoe Script";
    /*border-collapse: collapse;*/
    border: 3px blueviolet solid;
    width: 25px;
    height: 25px;
}



#switch {
    display: inline-flex;
    padding: 30px;
}

h4 {
    font-family: "Segoe Script";
}

#checkbox {
    width: 70px;
    height: 35px;
    -webkit-appearance: none;
    background: plum;
    border-radius: 15px;
    -webkit-appearance: none;
}

#checkbox:checked {
    background: #951B64;
}

#checkbox:before {
    content: '***';
    position: relative;
    font-size: 20px;
    font-family: "Segoe Script";
    width: 35px;
    height: 35px;
    border-radius: 15px;
    top: 0;
    left: 0;
    background: pink;
    transition: 0.5s;
    transform: scale(1.1);
}

#checkbox:checked:before {
    left: 35px;
}

#formSendWords {
    margin: 15px;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 5px;
    font-weight: bold;
    font-family: 'Segoe Script';
}

#inputYourWords, #answer {
    border: 4px blueviolet solid;
    background: pink;
    font-size: 20px;
}

#wrongWords, #rightWords, #reset, #submit, #cancel, #sendAllWords,
#cancelWords, #createNewCrossSync, #createNewCrossAsync{
    margin: 15px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    border: 4px pink solid;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 5px;
    color: pink;
    font-weight: bold;
    font-family: 'Segoe Script';
    background: blueviolet;
}

#results {

}

#cross-table {
    margin-right: 80px;
}
#definition {
    font-size: 25px;
    font-family: "Segoe Script";
    margin-left: 50px;
}